.testimonial{
    text-align: center;
    margin: 0 15px;
}
.testimonial .description{
    padding: 15px;
    margin: 0;
    border-top: 4px solid #eeb658;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #454646;
    line-height: 30px;
    position: relative;
    text-align: justify;
}
.testimonial .description:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #172E4A;
    margin: 0 auto;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #333;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #eeb658;
}
